body{
    background-color: black;
}
.container{
    width: 400px;
    height:400px;
    background-color: white;
    padding: 10px;
    z-index: 10;
}
.container1{
    background-color: rgb(207, 38, 38);
    width: 400px;
    height:150px;
    margin-top:-420px;
    position:relative;
    z-index: 40;
    padding: 10px;
    border-radius: 20px;
}
.img{
    display:grid;
    grid-template-rows: 200px 200px 200px;
    grid-column: 2px;
    grid-row: 2px;
}